@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('/fonts/subset-ProximaNova-Regular.eot');
    src: url('/fonts/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/subset-ProximaNova-Regular.woff2') format('woff2'),
        url('/fonts/subset-ProximaNova-Regular.woff') format('woff'),
        url('/fonts/subset-ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova SB';
    src: url('/fonts/subset-ProximaNova-SemiBold.eot');
    src: url('/fonts/subset-ProximaNova-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/subset-ProximaNova-SemiBold.woff2') format('woff2'),
        url('/fonts/subset-ProximaNova-SemiBold.woff') format('woff'),
        url('/fonts/subset-ProximaNova-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@keyframes type3 {
    0% {
        clip-path: inset(  0 100%  0  0 );
    }

   100%{
        clip-path: inset(0 0 0 0);
    };
}

[data-aos = 'opacityscale'] {
    opacity: 0;
    transform:scale(1.2);
    transition: all 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    &.aos-animate {
        opacity: 1;
        transform: scale(1);
    }
}

[data-aos = 'fromOpacity'] {
    opacity: 0;
    transition: all 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    &.aos-animate {
        opacity: 1;
    }
}

[data-aos = 'type1a'] {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    &.aos-animate {
        opacity: 1;
        transform: translateY(0px);
    }
}

[data-aos = 'type3toright'] {
    transform: translateX(-40px);
    transition: all 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    &.aos-animate {
        transform: translateY(0px);
    }
}


[data-aos = 'type1'] {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    &.aos-animate {
        opacity: 1;
        transform: translateY(-40px);
    }
}

[data-aos = 'type1с'] {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    &.aos-animate {
        opacity: 1;
        transform: translateY(0px);
    }
}

[data-aos = 'type2'] {
    clip-path: inset(  0 100%  0  0 );
    transition-property: clip-path;
    transition: all 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    &.aos-animate {
      clip-path: inset(0 0 0 0);
    }

}

[data-aos = 'type2b'] {
    clip-path: inset(  0   0 100% 0 );
    transition-property: clip-path;
    transition: all 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    &.aos-animate {
      clip-path: inset(0 0 0 0);
    }

}

[data-aos = 'type3'] {
    clip-path: inset(  0 100%  0  0 );
  transition-property: clip-path;
  
  &.aos-animate {
    clip-path: inset(0 0 0 0);
  }

 
}

[data-aos = 'type3b'] {
    transform: translateX(45px);
    transition-property: transform;
    transition: all 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    &.aos-animate {
        transform: translateX(90px);
    }

    @media screen and (max-width: 768px){
        transform: translateX(0px);
        transition-property: transform;
        transition: all 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        &.aos-animate {
            transform: translateX(0px);
        }
    }
}

*{
    outline: none;
}

h1 {
    font-size: 'Proxima Nova SB';
    font-size: 72px;
    font-weight: 600;
}

a {
    text-decoration: none; 
    color: #fff
}

html {
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: underline; 
    color: #fff;
    transition-timing-function: ease-in-out ;
    transition-duration: 0.4s ;
}

button:active, button:focus {
    outline: none;
}

button:hover {
    transition-duration: 0.4s ;
    transition-timing-function: ease-in-out;
}

header::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.2;
}

.container-fluid {
    position: relative;
    z-index: 5;
    padding-left: 0;
    padding-right: 0;
}


button::-moz-focus-inner {
    border: 0;
}

body {
    font-family: 'Proxima Nova Rg';
    color: #061c28;
}

header {
    padding-bottom: 308px;
    background-color: #04529d;
    background-image: url('/images/main.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}


.header__container {
    max-width: 1680px;
    margin: 0 auto;
    padding: 20px 60px 0px 30px;
}

.header__container-padding {
    padding-left: 285px;
}

.header__head {
    margin-bottom: 180px;
    justify-content: space-between;
}

.hide__head {
    top: -90px;
    transition-duration: 0.5s;
}

.show__head {
    transition-duration: 0.5s;
    top: 0;
}

.header__mobile__nav {
    display: none;
}

.header__head2 {
    margin-bottom: 0;
    padding: 0 60px;
    width: 100%;
}

.header__container__full {
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 0 4px 16px -2px rgba(6, 28, 40, 0.1);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header2__nav {
    a {
        color: #061c28;
    }
    
}



.header__nav__item {
    font-size: 16px;
    font-weight: 400;
}

.header__nav__item{
    margin-right: 60px;
}

.header__nav__item:last-child {
    margin-right: 0px;
}

.header__callback__button {
    display: none;
}

.header__btn {
    width: 200px;
    height: 48px;
    border-radius: 4px;
    font-family: 'Proxima Nova SB';
    background-color: #22cbff;
    outline: none;
    border: none;
    color: #fff;
}

.header__btn:hover {
    background-color: #178db2;
}

.header__container__pos {
    position: relative;
    transform: translateY(317px)
}

.header__nav2 {
    position: absolute;
    left: 30px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header__nav2__item {
        margin-bottom: 20px;
        opacity: 0.5;
    }
    
    .header__nav2__item:hover {
        opacity: 1;
    }

    .header__nav2__rectangle {
        width: 1px;
        height: 310px;
        background-color: #fff;
        opacity: 0.5;
    }
}

.header__content-title {
    letter-spacing: 2px;
    line-height: 72px;
    color: #fff;
    margin-bottom: 32px;
}

.header__content-description {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 44px;
    max-width: 494px;
    color: #fff;
}



.header__content-btn {
    width: 257px;
    height: 56px;
}

.main__about {
    background-color: #f2f2f4;
    padding-top: 120px;
}

.main__about__elements {
    display: none;
}

.main__container {
    max-width: 1680px;
    margin: 0 auto;
    padding: 0px 60px;
}

.main__elem1 {
    width: 100%;

    .main__elem1__container {
        max-width: 720px;
    }

    img {
        height: 500px;
        object-fit:cover;
    }

    .main__about__text {
        width: 100%;
        padding-left: 60px;
        margin-bottom: 95px;
    }
    
    .main__about__title {
        margin-bottom: 42px;
    }

    
    .main__about__description {
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        align-self: flex-end;
        max-width: 458px;
        margin-left: 93px;
    }

    
    .image__animation {
        position: relative;
        overflow: hidden;
    }

    .rectangle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        background-color: #e6e8e9;
    }


    .main__about_img1 {
        width: 100%;
        position: absolute;
        z-index: 10;
    }
}



.main__elem2 {
    width: 100%;
}

.main__elem2 {

    .main__elem2__container {
        max-width: 780px;
    }

    img {
        width: 780px;
        object-fit: cover;
    }

    img:first-child {
        height: 500px;
    }
    
    img:last-child {
        height: 439px;
    }

    .image__animation:last-child {
        height: 439px;
        transform: translateY(60px);
    }

    .image__animation {
        position: relative;
        overflow: hidden;
    }

    .rectangle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e6e8e9;
    }
}

#carouselFeatures {
    display: none;
}

.features__carousel  {
    display: none;
}

.main__features {
    padding-top: 122px;
    padding-bottom: 100px;
    .main__features__title {
        margin-bottom: 62px;
    }

    .main__features__card {
        width: 368px;
        border-radius: 12px;
        box-shadow: 0 8px 24px -2px rgba(6, 28, 40, 0.12);
        padding: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }


    .main__features__card-icon {
        margin-bottom: 24px;
        height: 64px;
    }

    .main__features__card-title {
        font-size: 22px;
        line-height: 26px;
        font-weight: 600;
        margin-bottom: 14px;
    }

    .main__features__card-description {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }

}

.main__reservation__content {
    position: relative;
    z-index: 1;
    transform: translateX(-90px);
    
}

.main__reservation {

    position: relative;

    
    background-image: url('/images/background_texture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .reservation__container {
        position: relative;
        padding: 146px 285px;
        
    }
   

    .main__reservation-title {
        margin-bottom: 22px;
        color: #fff ;
    }

    .main__reservation-description {
        max-width: 458px;
        font-size: 16px;
        line-height: 26px;
        color: #fff;
        margin-bottom: 45px;
    }

    .main__reservation__btn {
        background-color: #fff;
        color: #22cbff;
    }

    .main__reservation__btn:hover {
        background-color: #e6e8e9;
    }

    .main__reservation__img {
        position: absolute;
        height: 560px;
        bottom: 0;
        right: 10%;
    }

}

.main__gallery {

    padding: 100px 0px 120px ;

    .main__gallery__head {
        align-items: flex-start !important;
    }

    .main__container {
        padding: 0px 285px;
    }

    .main__gallery__description {
        margin-left: 60px;
        max-width: 554px;
    }

    .carousel {
        width: 100%;
        height: 620px;
        position: relative;
        margin-top: 62px;
    }

    .carousel-control-menu {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 8px 24px -2px rgba(6, 28, 40, 0.12);
        background-color: #fff;
        padding: 0px 40px;
        border-radius: 6px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80px;
    }

    .carousel-control-buttons {
        display: flex;
    }

    .carousel-control-next {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background-color: #22cbff;
        position: static;
        opacity: 1;
        transition-timing-function: ease-in-out;
        transition-duration: 0.4s;
    }

    .carousel-control-next:hover,
    .carousel-control-prev:hover {
        background-color: #178db2;
        transition-timing-function: ease-in-out;
        transition-duration: 0.4s;
    }

    .carousel-control-prev {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background-color: #22cbff;
        position: static;
        margin-right: 20px;
        opacity: 1;
        transition-timing-function: ease-in-out;
        transition-duration: 0.4s;
    }

    .carousel-control-next_icon {
        background-image: url('/images/icon_arrow.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 7px;
        height: 12px;
    }

    .carousel-control-prev_icon {
        background-image: url('/images/icon_arrow.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 7px;
        height: 12px;
        transform: scale(-1,1);
    }
    .progress-number {
        margin-right: 40px;
        white-space: nowrap;
    }

    .progress {
        width: 403px;
        margin-right: 40px;
        height: 2px;
    }

    .progress-bar {
        background-color: #061c28;
    }
}

.main__services {

    background-color: #f2f2f4;
    padding: 100px 0px 120px;

    .main__container {
        padding: 0px 120px;
    }

    .main__services-title {
        margin-bottom: 62px;
    }

    .main__services__cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center ;
    }

    .main__services__card {
        width: 440px;
        height: 330px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .main__services__card-img1 {
        background-image: url('/images/services_1.jpg');
    }

    .main__services__card-img2 {
        background-image: url('/images/services_2.jpg');
    }

    .main__services__card-img3 {
        background-image: url('/images/services_3.jpg');
    }

    .main__services__card h1 {
        color: #ffffff;
        font-size: 40px;
        letter-spacing: 0.83px;
    }
}

.main__make-reservation {
    
    padding: 165px 0px;

    background-image: url('/images/background_form.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .main__make-reservation__content {
        padding: 91px 107px 91px 120px ;
        border: 4px solid #ffffff;

        button {
            background-color: #fff;
            width: 200px;
            height: 48px;
            color: #22cbff;
            margin-right: 60px;
        }

        button:hover {
            background-color: #e6e8e9;
        }
    }

    .main__make-reservation_title {
        letter-spacing: 2px;
        color: #fff;
        max-width: 483px;
        margin-bottom: 41px;
    }

}

.modal-backdrop{
    background-color: unset;
}

.modal-backdrop.show {
    opacity: 1;
    backdrop-filter: blur(10px);
    background-color: unset;

}

// .modal.fade .modal-dialog {
//     transform: none;
// }

// .modal.show .modal-dialog {
//     transform: none;
//     animation: type3 1.4s;
// }

.modal-content {
    border: none;
    border-radius: unset;
    width: 920px;
    height: 546px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 25%);
    // animation: type3 1.4s ease-in-out 0s 1 normal none running;
    .modal__close {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 25px;
        top: 25px;
        z-index: 20;
        cursor: pointer;
        opacity: 1;
        span {
            width: 100%;
            height: 100%;
            position: relative;
            top: -13px;
            right: -11px;
        }
        .modal__close__1 {
            background-color: #cdd2d4;
            border-radius: 1px;
            transform: rotate(-225deg);
            height: 30px;
            position: absolute;
            z-index: 21;
            width: 1px;
        }
        .modal__close__2 {
            background-color: #cdd2d4;
            border-radius: 1px;
            transform: rotate(-315deg);
            height: 30px;
            position: absolute;
            z-index: 22;
            width: 1px;
        }
    }

    .modal__close:hover {
        .modal__close__1,
        .modal__close__2 {
            background-color: #061c28;
        }
       
    }

    .close__btn {
        width: 257px;
        height: 56px;
    }


    .modalCallbackForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .modalCallbackForm h1 {
        letter-spacing: 2px;
        font-weight: 600;
        margin-bottom: 13px;
    }

    .modalCallbackForm .modalCallbackForm__description {
        line-height: 26px;
        max-width: 408px;
        margin-bottom: 35px;
        text-align: center;
    }
    
    .modalCallbackForm__group {
        max-width: 257px;
        input {
            margin-bottom: 10px;
            border-radius: 4px;
            border: 1px solid #22cbff;
            padding: 18px 0px 16px 20px;
            outline:none;
            width: 100%;
            height: 56px;
            color: #22cbff;
        }

        input::placeholder {
            opacity: 0.4;
            color: #22cbff;
            border-color:#22cbff;
        }

        .modalCallback__input-label {
            display: none;
        }

        .show__label {
            display: block;
            color: #ff226b;
            font-size: 14px;
        }

        .input__required {
            border-color: #ff226b;
        }

        .input__required::placeholder {
            color: #ff226b;
        }

        button {
            background-color: #22cbff;
            color: #fff;
            border-radius: 4px;
            width: 100%;
            outline: none;
            border: 0;
            height: 56px;
        }

    }
}


.modal__success-content {
    width: 920px;
    height: 414px;
    padding: 77px 40px 100px;
}


.main__instafeed {
    min-height: 360px;
}

.footer__container {
    max-width: 1560px;
    margin: 0 auto;
    padding: 15px 60px;
}

.footer__head__location {
    height: 601px;
    width: 100%;
    position: relative;
}

.footer__head__map {
    background-image: url('/images/background_texture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.footer__head__callback-card {
    height: 374px;
    width: 445px;
    box-shadow: 0 8px 24px -2px rgba(6, 28, 40, 0.12);
    background-color: #ffffff;
    padding: 50px 0px 56px 50px;
    
    .footer__head__callback__title {
        font-size: 42px;
        margin-bottom: 21px;
    }

    .footer__head__callback__info {
        margin-bottom: 29px;
    }

    .footer__head__callback__info:last-child {
        margin-bottom: 0;
    }
    
    .footer__callback__info__title {
        font-size: 16px;
    }

    .footer__callback__info__main {
        font-size: 18px;
    }
}

.footer_container__pos {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__created-by {
    color: #061c28;
    font-size: 16px;
    line-height: 26px;
}

.footer__created-by:hover {
    color: #061c28;
}

.footer__vila-victoria {
    font-size: 16px;
    line-height: 26px;
}

.hide__hoisting__container {
    bottom: -50%;
    transition-duration: 1s;
}

.show__hoisting__container {
    bottom: 300px;
    transition-duration: 1s ;
}

.hoisting__container {
    position: fixed;
    z-index: 50;
}


#hoisting__nav2__facebook,
#hoisting__nav2__instagram {
    fill: #061c28;
}

.header__nav2__rectangle.hoisting__rect {
    background-color: #061c28;
}

.main__instafeed__container {
    max-width: 1560px;
    margin: 0 auto;
    height: 360px;
    transform: translateY(-80px);
}

#instafeed {
    width: 100%;
    display: flex;
    justify-content:center;
}

.instafeed__img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.instafeed__box {
    max-width: 300px;
    margin-right: 50px;
}

.instafeed__box:first-child {
    width: 300px;
    height: 300px;
    border: 2px solid #22cbff;
    order: 4;
    margin-right: 0;
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #22cbff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 16px;
    flex-direction: column;

    svg {
        height: 40px;
        width: 40px;
    }

    .instafeed__box__icon {
        width: 40px;
        height: 40px;
        margin-bottom: 15px;
    }

    .instafeed__box__text {
        text-align: center;
    }
}

#instafeed__instagram__icon {
    transition-delay: 0.7s;
    fill: #22cbff;
}

.instafeed__box:first-child:hover {
    background-color: #22cbff ;
    color: #fff;
    text-decoration: none;

    .instafeed__box__border {
        display: none;
    }

    #instafeed__instagram__icon {
        fill: #fff;
        transition-delay: 0.7s;
    }

}

.instafeed__box .instafeed__box__border {
    
    top: -0.5%;
    height: 78px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;;
    position: absolute;
    z-index: 5;
    width: 102%;
    left: -1%;
    transition-duration: 0.7s;
}

@media screen and (max-width: 1090px) {

    .modal-content {
        width: 820px;
    }

    .row {
        margin: 0px;
    }

    .col-12 {
        padding: 0;
    }

    .col-6 {
        padding: 0;
    }

    h1 {
        font-size: 52px;
    }

    header {
        padding-bottom: 100px;
    }

    .header__head {
        margin-bottom: 100px;
    }

    .header__head2 {
        margin-bottom: 0;
    }

    .header__head__media {
        flex-direction: column;
    }

    .header__logo.mr-auto {
        margin: 0px 0px 30px 0px !important;
    }

    .header__container-padding {
        padding-left: 60px;
    }

    .header__container.header__container-padding .row .header__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__content-title {
        font-size: 52px;
    }

    .header__content-description {
        font-size: 16px;
        text-align: center;
    }

    .header__btn.header__content-btn {
        width: 330px;
        height: 72px;
    }

    .main__elem1 .main__about__description {
        margin-left: 0px;
    }

    .main__features__cards {
        flex-wrap: wrap;
    }
    
    .main__features__cards .main__features__card {
        min-height: 362px;
        width: 360px;
        max-width: unset;
        margin-bottom: 20px;
    }

    .main__reservation .main__container {
        padding-left: 60px;
    }

    .main__reservation .main__reservation-description {
        max-width: 415px;
    }

    .main__reservation__content {
        max-width: unset;
        transform: translateX(-60px);
        padding-left: 20px;
    }

    .main__reservation__img {
        height: 485px;
        right: 65px;
    }

    .main__gallery {
        padding-bottom: 50px;
    }

    .main__gallery .main__container {
        padding: 0 ;
    }

    .main__gallery__head {
        padding: 0px 60px;
        flex-direction: column;
        justify-content: flex-start !important;
    }

    .main__gallery .main__gallery__description {
        margin-left: 0;
        max-width: 415px;
    }

    .carousel-control-button {
        width: 40px;
        height: 40px;
    }

    .carousel-control-prev_icon {
        width: 6px;
    }

    .flex-elem-direction {
        flex-direction: column;
    }

   .image__animation {
       display: none;
   }

   .elem__width {
       max-width: 100%;
   }

   .main__elem1 .main__elem1__container {
       max-width: 100%;
   }

   .main__elem1 {
       width: 100%;
       
       img {
           height: auto;
       }
   }

   .main__elem2 {
       display: none;
   }

   .main__elem1 .main__about__text {
        margin-bottom: 0px;
   }

   .main__about__elements {
        display: flex;
        width: 100%;
        flex-direction: column;
        

    .image__animation {
        display: block;
        width: 900px;
    }

    .image__animation1 {
        transform: translateY(100px);
        margin-right: auto;
        z-index: 3;
    }

    .image__animation2 {
        transform: translateY(50px);
        margin: 0 auto;
        z-index: 2;
    }

    .image__animation3 {
        margin-left: auto;
        z-index: 1;
    }

    .rectangle {
        height: 100%;
    }

   }

   .main__container__elem__paddings {
       padding: 0;
   }

   .main__services .main__services__card {
       width: 100%;
       height: 600px;

       h1 {
           font-size: 62px;
       }
   }

   .main__make-reservation__container {
       justify-content: center !important;
   }
   
   .main__instafeed__container {
       min-width: 360px;
       transform: translateY(-20px);
       height: auto;
   }

   .instafeed__box .instafeed__box__border {
        display: none;
   }

   #instafeed {
       flex-wrap: wrap;
   }

   .instafeed__box {
       margin: 0px 15px 30px;
   }

   .instafeed__box:first-child {
       margin-right: 15px;
   }

   .instafeed__img {
       width: 250px;
       height: 250px;
   }

   .instafeed__box:first-child {
       height: 250px;
       width: 250px;
   }

   .show__hoisting__container {
       bottom: 65px;
   }

}

@media screen and (max-width: 920px) {
   

    .modal-content {
        width: 345px;
        max-height: 450px;
        padding-top: 20px;
        padding-bottom: 20px;
        .modal__close {
            top: -40px;
            right: 0;
            .modal__close__1 {
                background-color: #cdd2d4;
            }

            .modal__close__2 {
                background-color: #cdd2d4;
            }
        }
    }

    .modal-content .modalCallbackForm__group {
        width: 200px;
    }
    h1 {
        font-size: 32px;
        letter-spacing: 1px;
    }

    .set__overflow {
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        position: relative;
        height: 100%;
    }

    .header__background {
        position: relative;
        height: 100%;
        background-color: black;
        opacity: 0.2;
        width:100%;
    }


    header {
        padding-bottom: 173px;
    }

    .header__head__media {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 15px 0px;
    }

    .header__nav {
        display: none;
    }

    .header__container.header__container-padding .row {
        justify-content: center;
    }

    .header__container.header__container-padding .row .header__content {
        max-width: 450px;
    }

    .header__mobile__nav {
        display: block;
    }

    .mobile__nav {
        position: fixed;
        top: 0;
        left: -125%;
        width: 375px;
        height: 100%;
        background-color: #fff;
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 20;
        transition-duration: 0.5s;
        .header__nav__item {
            color: #061c28;
            font-size: 32px;
            font-family: 'Proxima Nova SB';
            margin-bottom: 51px;
        }

        .header__nav__item:last-child {
            margin-bottom: 0;
        }

        .mobile__nav__social-container {
            position: absolute;
            z-index: 22;
        }
    }

    .mobile__nav.menu__active {
        left: 0;
    }

    .burger__menu {
        position: relative;
        width: 40px;
        height: 24px;
        z-index: 101;
    }

    .burger__menu span {
        position: absolute;
        left: 0;
        top: 11px;
        height: 2px;
        border-radius: 2px;
        background-color: #fff;
        width: 24px;
        transition-duration: 1s;
    }

    .burger__menu:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 2px;
        border-radius: 2px;
        background-color: #fff;
        width: 100%;
        transition-duration: 0.5s;
    }

    .burger__menu:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        border-radius: 2px;
        background-color: #fff;
        width: 32px;
        transition-duration: 0.5s;
    }

    .burger__menu.menu__active::before {
        transform: rotate(45deg);
        top: 11px;
        background-color: #061c28;
        transition-duration: 0.5s;
    }

    .burger__menu.menu__active span {
        transform: scale(0);
    }

    .burger__menu.menu__active::after {
        transform: rotate(-45deg);
        bottom: 11px;
        width: 100%;
        background-color: #061c28;
        transition-duration: 1s;
    }

    .burger__menu.menu__active {
        position: fixed;
    }
    
    .burger__menu.menu__active2 {
        display: none;
    }

    .burger__menu__pos{
        top: 36px;
    }

    .mobile__nav__social {
        position: absolute;
        bottom: 30px;
        left: 0;
        display: flex;
        align-items: center;


        svg {
            height: 32px;
            width: 32px;
            margin-left: 30px;
        }
    }

    .mobile__nav__social-rect {
        width: 40px;
        height: 2px;
        background-color: #22cbff;
    }
    
    .header__logo.mr-auto {
        width: 107px;
        height: 70px;
        margin-bottom: 0 !important;
    }

    .header__callback__button {
        display: flex;
        height: 32px;
        width: 32px;
    }

    .header__callback__button__icon {
        height: 32px;
        width: 32px;
    }

    #Landing-page-XS {
        fill: white !important;
    }

    #hoisting__phone {
        fill: #061c28;
    }

    .header__container-padding {
        padding: 0 15px;
    }

    .header__content {
        max-width: 341px;
    }

    .header__content-title {
        font-size: 32px;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 1px;
        width: 100%;
        margin-bottom: 16px;
    }

    .col-xl-8.header__content {
        padding: 0;
        max-width: 100%;
    }
    

    .header__content-description {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 25px;
        text-align: left;
    }

    .header__btn.header__content-btn {
        width: 200px;
        height: 48px;
        align-self: flex-start;
    }

    .header2__nav {
        display: none;
    }

    .header__nav2 {
        flex-direction: row;
    }

    .header__container__pos {
        transform: translate(-30px,145px);
    }

    .header__nav2 .header__nav2__rectangle {
        order: 1;
        width: 40px;
        height: 2px;
    }

    .header__nav2 .header__nav2__item {
        margin-bottom: 0;
        margin-left: 30px;
    }

    .header__nav2 .header__nav2__item img {
        height: 32px;
        width: 32px;
    }

    .header__nav2__item {
        order: 2;
    }

    .header__nav2__item:last-child {
        order: 3;
    }
    
    .header__head2 {
        padding: 0 15px;
    }

    .header__container__full .burger__menu::after {
        background-color: #061c28;
    }
    
    .header__container__full .burger__menu::before {
        background-color: #061c28;
    }

    .header__container__full .burger__menu span {
        background-color: #061c28;
    }
    
    .carousel-control-menu {
        position: relative;
    }

    .main__about {
        padding-top: 53px;
    }

    .main__elem1 .main__about__title {
        margin-bottom: 11px;
    }

    .main__elem1 .main__about__text {
        padding: 0 15px;
    }

    .main__about__elements .image__animation {
        width: 90%;
    }

    .main__about__elements .image__animation1 {
        transform: translateY(90px);
    }

    .main__about__elements .image__animation2 {
        transform: translateY(60px);
    }

    .main__about__elements .image__animation3 {
        transform: translateY(30px);
    }

    .main__about__elements {
        margin-top: -75px;
    }
    
    #carouselFeatures {
        display: block;
    }

    .main__container {
        padding: 0;
    }

    .main__features {
        padding-top: 77px;
        padding-bottom: 60px;
    }

    .main__features .main__features__title {
        text-align: center;
        margin-bottom: 21px;
    }

    .main__features__cards {
        display: none !important;
    }
    
    .main__features .main__features__card {
        height: 335px;
        width: 300px;
        padding: 20px;
        box-shadow: 0 8px 24px -2px rgba(6, 28, 40, 0.12);
        margin-bottom: 0;
    }

    .main__features .main__features__card-icon {
        margin-bottom: 21px;
    }
    
    .main__features .main__features__card-title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 11px;
    }

    .main__features .main__features__card-description {
        font-size: 15px;
        line-height: 22px;
    }

    .slick-track {
        padding: 20px 0px;
    }

    .slick-slide {
        margin-right: 20px;
        transform: scale(0.85);
        transition-duration: 0.5s;
    }

    .slick-list {
        padding-left: 15px;
    }

    .slick-active {
        transform: scale(1);
        transition-duration: 0.5s;
    }
   
    .main__reservation {
        overflow: hidden;
    }

    .main__reservation .reservation__container {
        padding: 53px 15px 203px;
    }
    
    .main__reservation__content {
        width: 100%;
        position: relative;
        z-index: 5;
        flex: auto;
    }

    .main__reservation .main__reservation-title {
        margin-bottom: 11px;
    }

    .main__reservation .main__reservation-description {
        margin-bottom: 25px;
    }

    .main__reservation .main__reservation__img {
        height: 366px;
        right: -21%;
    }
    
    .main__reservation__content {
        transform: translateX(0px);
    }

    .main__gallery {
        padding: 53px 0px 60px;
    }

    .main__gallery__head {
        padding: 0 15px;
        align-items: flex-start !important;
    }

    .features__carousel  {
        display: block;
    }

    #carouselExampleControls {
        margin-top: 36px;
        height: unset;
    }
    
    .main__gallery .carousel-control-menu {
        width: 92%;
        height: 50px;
        padding: 9px 15px;
        position: relative;
    }

    .main__gallery .progress-number {
        margin-right: 10px;
        font-size: 14px;
        white-space: nowrap;
    }
    
    .main__gallery .progress {
        margin-right: 10px;
        width: 100%;
    }

    .main__gallery .carousel-control-prev {
        margin-right: 10px;
        width: 32px;
        height: 32px;
    }

    .main__gallery .carousel-control-next {
        width: 32px;
        height: 32px;
    }

    .main__gallery .carousel-control-prev_icon {
        width: 5px;
        height: 8px;
    }

    .main__services {
        padding: 53px 15px 56px;
    }
    
    .main__services .main__container{
        padding: 0;
    }

    .main__services .main__services__card {
        max-height: 259px;
        margin-bottom: 15px;
    }
    

    .main__services .main__services__card:last-child {
        margin-bottom: 0;
    }

    .main__services .main__services-title {
        margin-bottom: 21px;
    }

    .main__services .main__services__card h1 {
        font-size: 32px;
        letter-spacing: 1px;
    }

    .main__make-reservation {
        padding: 20px 20px 40px;
        background-image: url('/images/background_form2.jpg');
    }

    .main__reservation__contant-container {
        max-width:275px;
    }

    .main__make-reservation .main__make-reservation__content {
        padding: 30px;
        width: 100%;
    }

    .main__make-reservation .main__make-reservation_title {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 1px;
        max-width:217px;
        margin-bottom: 21px;
    }

    .main__make-reservation .main__make-reservation__content button {
        margin-right: 0;
    }

    .button__wraper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .header__head2 {
        justify-content: space-between;
    }

    .header2__logo {
        margin-right: 0 !important;
    }

    .footer__container {
        padding: 0px 56px 21px;
    }

    .footer__head__location {
        height: 300px;
    }
    
    .footer__head__location .container {
        top: 285px;
        justify-content: center;
    }

    .footer__content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__bottom {
        padding-top: 325px;
    }

    .footer__head__callback-card .footer__head__callback__title {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .footer__head__callback-card {
        padding: 40px 0px 46px 30px;
        width: 345px;
        height: 345px;
    }

    .footer__created-by {
        text-align: center;
    }

    .instafeed__img {
        height: 168px;
        width: 168px;
    }

    .instafeed__box:first-child {
        height: 168px;
        width: 168px;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 0 13px;
        font-size: 14px;
    }
   
    .instafeed__box .instafeed__box__border {
        display: none;
     }

    .main__instafeed__container {
        min-width: unset;
    }
}